* {
    font-family: 'Comfortaa', cursive;
    font-size: 1.1rem;
}

body {
    background: linear-gradient(#cfecd0 20%, #ffc5ca 60%, #ffffff 80%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*#faf0cd, #b9deed*/
}

main {
    margin-top: 140px;
    flex: 1;
}

footer {
    background: white;
    flex-shrink: 0;
}

.navbar, .navbar_icons {
    border-bottom: solid white 2px;
}

.navbar_basket {
    border-left: solid white 2px;
    border-right: solid white 2px;
}

.navbar_search {
    display: inline-flex;
    border-left: solid white 2px;
}

.navbar_iconify__basket,
.navbar_iconify__account {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.navbar_iconify__search {
    height: 30px;
    width: 30px;
    position: absolute;
}

.iconify_account__dropdown {
    color: #999999;
    opacity: 0.3;
    height: 70px;
    width: 70px;
}

.text_account__dropdown {
    color: #999999;
    opacity: 0.7;
}

#navbar_search {
    width: 130px;
    color: white;
    border: none;
    /*float: left;*/
    padding-left: 45px;
    transition: 0.6s ease-out;
    height: 30px;
}

#navbar_search:focus,
#navbar_search:active {
    outline: none;
    width: 300px;
    padding-right: 20px;
}

.dropdown-toggle::after {
    border: none !important;
}

.dropdown-toggle__text {
    cursor: pointer;
}

.footer_tracery {
    height: auto;
    max-height: 100px;
    max-width: 100%;
}

.footer_iconify__eula {
    height: 30px;
    width: 30px;
}

/*для lg экранов*/
@media (min-width: 992px) and (max-width: 1199px) {
    #navbar_search {
        width: 105px;
    }

    input::placeholder {
        font-size: .9rem;
    }

    #navbar_search:focus,
    #navbar_search:active {
        width: 180px;
    }
}

/*для xs, sm, md экранов*/
@media (max-width: 991px) {
    .navbar_search{
        border-left: none;
    }

    #navbar_search {
        width: 95px;
    }

    input::placeholder {
        font-size: .8rem;
    }

    #navbar_search:focus,
    #navbar_search:active {
        width: 195px;
    }
}

/* ----- main.php ----- */
.home_page {
    margin-top: -170px;
    background: url(img/main_page.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.home_page:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    background-color: rgba(34, 34, 34, 0.7);
    border-bottom: dotted white 3px;
}

.home_page_block {
    padding-top: 300px;
    padding-bottom: 200px;
}

.btn-outline-light {
    padding: 1em !important;
    border-radius: 1.5em !important;
}

.container_img {
    /*box-shadow: deeppink 0 0 20px;*/
    border: dotted deeppink 3px;
    border-radius: 70px;
}


/* ----- view_all.php ----- */
/* background-color: #eb4b66; розовый*/
.card {
    border: dotted !important;
    border-radius: 30px !important;
}

.card-body__button {
    border: solid gainsboro 1px;
    border-radius: 30px;
}

.card-body__button_text {
    cursor: pointer;
}

.card-body__button_basket {
    background-color: #00c9ab;
    border-radius: 30px;
}

.card-body__button_basket:hover,
.card-body__button_basket:active {
    background-color: #eb4b66;
}

















